* {
    box-sizing: border-box;
}
.container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background: linear-gradient(to bottom, #ffab4a, #fa85bf);
    width: 840px;
    padding: 20px;
}
#input{
    padding: 0px;
    width: 680px;
    height: 90px;
    background: rgb(255, 255, 255, 10%);
    border: none;
    font-size: 60px;
    color: black;
    text-align: right;
    border-radius: 5px;
}
.sup{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background: rgb(255,255,255, 30%);
}
.btn{
    width: 90px;
    background: transparent;
    height: 60px;
    border: 1px solid white;
    margin-top: 10px;
    border-radius: 100px;
    font-size:50px;
    outline: none;
}
.btn:hover{
    background: rgba(238, 5, 168, 0.226);
}
.btn:active{
    background: rgb(0,0,0, 30%);
}
.btns{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.operators{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.operators *{
    width: 90px;
}
.systems{
    margin-top: 10px;
    padding: 10px;
}
.inputAndBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
#open{
    margin-left: 5px;
    margin-top: 0px;
}
.radio{
    height: 20px;
    width: 20px;
    content: "asda";
    background: green;
    margin: 5px;
}